h1 {
    font-family: 'Philosopher', sans-serif;
    color: #017BB4;
    font-weight:900;
   }
.vkek {
    background-color: #C9DCEA;
    border-radius: 10px;
  }
h3 {
    font-family: 'Philosopher', sans-serif;
    color: #017BB4;
}
body {
    color: #017BB4;
}
.szlogen {
    font-family: 'Dancing Script', cursive;
}